@mixin font($font-size, $line-height) {
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

@mixin form-reset {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;

  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: middle;
  color: inherit;
  white-space: normal;

  background: none;
  border: 0;
}

@mixin pseudo-elem {
  content: "";
  position: absolute;
}

@mixin hover {
  outline: none;
  cursor: pointer;
  transition: $style-change-duration;
}

@mixin not-hover {
  &:not(:hover) {
    transition: $style-change-duration;
  }
}
