$main-black-blue: #121920;

$desktop-width: 1440px;
$desktop-min-width: 1024px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$style-change-duration: 0.2s;
